<tr v-if="onEditing" role="row" class="odd">
  <td class="index">
    {{index}}
  </td>
  <td class="termID">
    <input type="text" class="form-control input-block" v-model="rowData.termID" name="termID" />
  </td>
  <td class="subjectID">
    <input type="text" class="form-control input-block" v-model="rowData.subjectID" name="subjectID" />
  </td>
  <td class="subjectName">
    <input type="text" class="form-control input-block" v-model="rowData.subjectName" name="subjectName" />
  </td>
  <td class="student">
    <input type="text" class="form-control input-block" v-model="rowData.student" name="student" />
  </td>
  <td class="actions text-center">
    <a class="on-editing save-row" @click="rowSaveClick" title="Lưu thông tin">
      <i class="fas fa-save"></i>
    </a>
    <a class="on-editing cancel-row" @click="rowCancelClick" title="Hủy chỉnh sửa">
      <i class="fas fa-times"></i>
    </a>
  </td>
</tr>
<tr v-else role="row" class="odd" @click="rowClick" title="Chi tiết">
  <td class="index">{{index}}</td>
  <td class="termID">{{TermSubStu.termID}}</td>
  <td class="subjectID">{{TermSubStu.subjectID}}</td>
  <td class="subjectName">{{TermSubStu.subjectName}}</td>
  <td class="student">{{TermSubStu.student}}</td>

  <td class="actions text-center">
    <a class="on-default edit-row" @click="rowEditClick" title="Chỉnh sửa thông tin">
      <i class="fas fa-pencil-alt"></i>
    </a>
    <a class="on-default remove-row" @click="rowRemoveClick" title="Xóa thông tin">
      <i class="far fa-trash-alt"></i>
    </a>
  </td>
</tr>
