<div data-v-fd06fca2="" >
    <div data-v-fd06fca2="" class="tabs">
        <ul data-v-fd06fca2="" class="nav nav-tabs tabs-primary">
            <li data-v-fd06fca2="" class="nav-item active">
                <a data-v-fd06fca2="" href="#overview" data-toggle="tab" class="nav-link active show">
                    Overview
                </a>
            </li> 
            <li data-v-fd06fca2="" class="nav-item">
                <a data-v-fd06fca2="" href="#edit" data-toggle="tab" class="nav-link">
                    Edit
                </a>
            </li>
        </ul>
        <div data-v-fd06fca2="" class="tab-content">
            <div data-v-fd06fca2="" id="overview" class="tab-pane active show">
                <div data-v-fd06fca2="" class="p-3">
                    <h4 data-v-fd06fca2="" class="mb-3 pt-4">
                        <strong>Thông tin sinh viên</strong> </h4> 
                <div data-v-fd06fca2="" class="timeline timeline-simple mt-3 mb-3">
                    <div data-v-fd06fca2="" class="tm-body">
                        <div data-v-fd06fca2="" class="tm-title">
                            <h5 data-v-fd06fca2="" class="m-0 pt-2 pb-2 text-uppercase">
                                    <strong><font color="red">MSSV: 17021144</font></strong>
                            </h5>
                        </div> 
                        <ol data-v-fd06fca2="" class="tm-items">
                            <li data-v-fd06fca2=""><div data-v-fd06fca2="" class="tm-box"><p data-v-fd06fca2="" class="text-muted mb-0">
                                Họ và tên</p>
                                <p data-v-fd06fca2="">
                                    <strong>Hoàng Thị Yến</strong>
                            </p></div></li> 
                            <li data-v-fd06fca2=""><div data-v-fd06fca2="" class="tm-box"><p data-v-fd06fca2="" class="text-muted mb-0">
                                Giới tính</p>
                                <p data-v-fd06fca2="">
                                    <strong>Nữ</strong>
                            </p></div></li> 
                            <li data-v-fd06fca2=""><div data-v-fd06fca2="" class="tm-box"><p data-v-fd06fca2="" class="text-muted mb-0">
                                Khóa
                            </p><p data-v-fd06fca2="">
                                    <strong>QH-2017</strong>
                            </p></div></li> 
                            <li data-v-fd06fca2=""><div data-v-fd06fca2="" class="tm-box">
                                Trường 
                            <p data-v-fd06fca2="">
                                    <strong>Đại học Công nghệ</strong>
                            </p></div></li>
                        </ol>
                    </div>
                </div>
            </div></div> 
        <div data-v-fd06fca2="" id="edit" class="tab-pane">
            <form data-v-fd06fca2="" class="p-3">
                    <h4 data-v-fd06fca2="" class="mb-3">
                        <strong>Chỉnh sửa thông tin sinh viên</strong>
                    </h4>
                <div data-v-fd06fca2="" class="form-group">
                    <label data-v-fd06fca2="" for="inputAddress">
                            Họ Và Tên</label> 
                    <input data-v-fd06fca2="" type="text" id="inputAddress" placeholder="Hoàng Thị Yến" class="form-control">
                </div> 
                <div data-v-fd06fca2="" class="form-group">
                    <label data-v-fd06fca2="" for="inputAddress2">
                            Mã số sinh viên </label> 
                    <input data-v-fd06fca2="" type="text" id="inputAddress2" placeholder="17021144" class="form-control">
                </div>
                <div data-v-fd06fca2="" class="form-row">
                    <div data-v-fd06fca2="" class="form-group col-md-2">
                        <label data-v-fd06fca2="" for="inputState">Giới tính</label> 
                        <select data-v-fd06fca2="" id="inputState" class="form-control">
                            <option data-v-fd06fca2="" selected="selected">Nam</option> 
                            <option data-v-fd06fca2="">Nữ</option></select>
                    </div> 
                    <div data-v-fd06fca2="" class="form-group col-md-3">
                        <label data-v-fd06fca2="" for="inputCity">Khóa</label> 
                        <input data-v-fd06fca2="" type="text" id="inputCity" class="form-control">
                    </div>        
                    <div data-v-fd06fca2="" class="form-group col-md-3">
                        <label data-v-fd06fca2="" for="inputZip">Trường</label> 
                        <input data-v-fd06fca2="" type="text" id="inputZip" class="form-control">
                    </div>
                </div> <hr data-v-fd06fca2="" class="dotted tall"> 
                <h4 data-v-fd06fca2="" class="mb-3">Change Password</h4> 
                <div data-v-fd06fca2="" class="form-row">
                    <div data-v-fd06fca2="" class="form-group col-md-6">
                        <label data-v-fd06fca2="" for="inputPassword4">New Password</label> 
                        <input data-v-fd06fca2="" type="password" id="inputPassword4" placeholder="Password" class="form-control">
                    </div> 
                    <div data-v-fd06fca2="" class="form-group col-md-6">
                        <label data-v-fd06fca2="" for="inputPassword4">Re New Password</label> 
                        <input data-v-fd06fca2="" type="password" id="inputPassword4" placeholder="Password" class="form-control">
                    </div>
                </div> 
                    <div data-v-fd06fca2="" class="form-row">
                        <div data-v-fd06fca2="" class="col-md-12 text-right mt-3">
                            <button data-v-fd06fca2="" class="btn btn-primary modal-confirm">Save</button>
                        </div>
                    </div>
            </form>
        </div>
        </div>
    </div>
</div>