<div class="body">
  <header class="header">
    <div class="logo-container">
      <a href="/" class="logo"> <img src="@/assets/img/logo.png" width="75" height="35" alt="Porto Admin"> </a>
      <div class="d-md-none toggle-sidebar-left" data-toggle-class="sidebar-left-opened" data-target="html"
        data-fire-event="sidebar-left-opened"> <i class="fas fa-bars" aria-label="Toggle sidebar"></i> </div>
    </div>
    <div class="header-right">
      <span class="separator"></span>

      <div id="userbox" class="userbox">
        <a href="#" data-toggle="dropdown">
          <figure class="profile-picture">
            <i class="fas fa-user"></i>
          </figure>
          <div class="profile-info" data-lock-name="John Doe" data-lock-email="johndoe@okler.com">
            <span class="name">{{username}}</span>
            <span class="role">Giảng viên</span>
          </div>

          <i class="fa custom-caret"></i>
        </a>

        <div class="dropdown-menu">
          <ul class="list-unstyled mb-2">
            <li class="divider"></li>
            <li>
              <router-link role="menuitem" tabindex="-1" :to="{name: 'managerProfile'}"><i class="fas fa-user"></i> My Profile</router-link>
            </li>
            <li>
              <a role="menuitem" tabindex="-1" href="#" @click="logout"><i class="fas fa-power-off"></i> Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- end: search & user box -->
  </header>
  <!-- end: header -->

  <div class="inner-wrapper">
    <!-- start: sidebar -->
    <aside id="sidebar-left" class="sidebar-left">

      <div class="sidebar-header">
        <div class="sidebar-toggle d-none d-md-block" data-toggle-class="sidebar-left-collapsed" data-target="html"
          data-fire-event="sidebar-left-toggle">
          <i class="fas fa-bars" aria-label="Toggle sidebar"></i>
        </div>
      </div>

      <div class="nano has-scrollbar">
        <div class="nano-content" tabindex="0" style="margin-right: -17px;">
          <nav id="menu" class="nav-main" role="navigation">

            <ul class="nav nav-main">
              <li class="nav-parent">
                <router-link class="nav-link" :to="{name: 'termManage'}">
                  <i class="fas fa-book" aria-hidden="true"></i>
                  <span>Quản lý học kì</span>
                </router-link>
              </li>
              <li class="nav-parent">
                <router-link class="nav-link" :to="{name:'studentManage'}">
                  <i class="fas fa-tasks" aria-hidden="true"></i>
                  <span>Quản lý sinh viên</span>
                </router-link>
              </li>
              <li class="nav-parent">
                <router-link class="nav-link" :to="{name: 'subjectManage'}">
                  <i class="fas fa-book" aria-hidden="true"></i>
                  <span>Quản lý môn học</span>
                </router-link>
              </li>
              <li class="nav-parent">
                <router-link class="nav-link" :to="{name: 'RoomManage'}">
                  <i class="fas fa-book" aria-hidden="true"></i>
                  <span>Quản lý phòng thi</span>
                </router-link>
              </li>
              <li class="nav-parent">
                <router-link class="nav-link" :to="{name: 'shiftManage'}">
                  <i class="fas fa-calendar" aria-hidden="true"></i>
                  <span>Quản lý ca thi</span>
                </router-link>
              </li>
              <li class="nav-parent">
                <router-link class="nav-link" :to="{name: 'print'}">
                  <i class="fas fa-print" aria-hidden="true"></i>
                  <span>In danh sách thi</span>
                </router-link>
                <ul class="nav nav-children">
                  <li>
                    <router-link class="nav-link" to="/">
                      Basic
                    </router-link>
                  </li>
                  <li>
                    <router-link class="nav-link" to="/">
                      Advanced
                    </router-link>
                  </li>
                </ul>
              </li>

              <li>
                <a class="nav-link" href="mailbox-folder.html">
                  <span class="float-right badge badge-primary">182</span>
                  <i class="fas fa-envelope" aria-hidden="true"></i>
                  <span>Mailbox</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="nano-pane" style="display: block; opacity: 1; visibility: visible;">
          <div class="nano-slider" style="height: 20px;"></div>
        </div>
      </div>

    </aside>
    <!-- end: sidebar -->

    <section role="main" class="content-body">
      <header class="page-header">
        <h2>ExamREG - Examination Online System</h2>
      </header>
      <router-view />
    </section>
  </div>

  <aside id="sidebar-right" class="sidebar-right">
    <div class="nano has-scrollbar">
      <div class="nano-content" tabindex="0" style="right: -17px;">
        <a href="#" class="mobile-close d-md-none">
          Collapse <i class="fas fa-chevron-right"></i>
        </a>

        <div class="sidebar-right-wrapper">

          <div class="sidebar-widget widget-calendar">
            <h6>Upcoming Tasks</h6>
            <ul>
              <li>
                <time datetime="2017-04-19T00:00+00:00">04/19/2017</time>
                <span>Company Meeting</span>
              </li>
            </ul>
          </div>

          <div class="sidebar-widget widget-friends">
            <h6>Friends</h6>
            <ul>
              <li class="status-online">
                <figure class="profile-picture">
                  <img src="img/%21sample-user.jpg" alt="Joseph Doe" class="rounded-circle">
                </figure>
                <div class="profile-info">
                  <span class="name">Joseph Doe Junior</span>
                  <span class="title">Hey, how are you?</span>
                </div>
              </li>
              <li class="status-online">
                <figure class="profile-picture">
                  <img src="img/%21sample-user.jpg" alt="Joseph Doe" class="rounded-circle">
                </figure>
                <div class="profile-info">
                  <span class="name">Joseph Doe Junior</span>
                  <span class="title">Hey, how are you?</span>
                </div>
              </li>
              <li class="status-offline">
                <figure class="profile-picture">
                  <img src="img/%21sample-user.jpg" alt="Joseph Doe" class="rounded-circle">
                </figure>
                <div class="profile-info">
                  <span class="name">Joseph Doe Junior</span>
                  <span class="title">Hey, how are you?</span>
                </div>
              </li>
              <li class="status-offline">
                <figure class="profile-picture">
                  <img src="img/%21sample-user.jpg" alt="Joseph Doe" class="rounded-circle">
                </figure>
                <div class="profile-info">
                  <span class="name">Joseph Doe Junior</span>
                  <span class="title">Hey, how are you?</span>
                </div>
              </li>
            </ul>
          </div>

        </div>
      </div>
      <div class="nano-pane" style="opacity: 1; visibility: visible; display: none;">
        <div class="nano-slider" style="height: 738px; transform: translate(0px, 0px);"></div>
      </div>
    </div>
  </aside>

</div>
