<div id="addShiftModal" tabindex="-1" role="dialog" class="modal fade bd-example-modal-lg">
  <div class="modal-dialog modal-lg" role="document">
    <section class="card modal-content">
      <header class="card-header">
        <div class="card-actions">
          <a href="#" class="card-action card-action-toggle" data-card-toggle=""></a>
          <a href="#" class="card-action card-action-dismiss" data-card-dismiss=""></a>
        </div>
        <h2 class="card-title" style="margin: 0; padding: 0; font-weight: bold">THÊM CA THI</h2>
      </header>
      <div class="card-body">
        <div class="form-group row">
          <label class="col-sm-3 control-label text-sm-right pt-2">Môn thi <span class="required">*</span></label>
          <div class="col-sm-6" >
            <div class="input-group">
              <span class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fas fa-list-alt"></i>
                </span>
              </span>
            <select id="company" class="form-control" required="" v-model="shift.subjectID">
              <option value="">Choose a subject</option>
              <option value="Quản lý dự án">Quản lý dự án</option>
              <option value="LT hướng đối tượng">LT hướng đối tượng</option>
              <option value="Cơ sở dữ liệu">Cơ sở dữ liệu</option>
              <option value="Mạng máy tính">Mạng máy tính</option>
            </select>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-lg-3 control-label text-lg-right pt-2">Ca thi <span class="required">*</span></label>
          <div class="col-lg-6">
            <div class="input-group">
              <span class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fas fa-check"></i>
                </span>
              </span>
              <select class="form-control mb-6"  v-model="shift.shiftExam">
                <option value="">Choose a time</option>
                <option value="1:(7h-9h)">1:7h-9h</option>
                <option value="2:(9h-11h)">2:9h-11h</option>
                <option value="3:(13h-15h">3:13h-15h</option>
                <option value="4:(15h-17h)">4:15h-17h</option>
              </select>
          </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-lg-3 control-label text-lg-right pt-2">Ngày thi <span class="required">*</span></label>
          <div class="col-lg-6">
            <div class="input-group">
              <span class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fas fa-calendar"></i>
                </span>
              </span>
              <input type="date" class="form-control" v-model="shift.time">
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-lg-3 control-label text-lg-right pt-2">Phòng thi <span class="required">*</span></label>
          <div class="col-lg-6" >
            <div class="input-group">
              <span class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fas fa-calendar-alt"></i>
                </span>
              </span>
            <select class="form-control mb-6" v-model="shift.roomID">
              <option value="">Choose a room</option>
              <option value="101-G2">101-G2</option>
              <option value="103-G2">103-G2</option>
              <option value="107-G2">107-G2</option>
              <option value="201-G2">201-G2</option>
              <option value="202-G2">202-G2</option>
            </select>
          </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-lg-3 control-label text-lg-right pt-2">Học kì <span class="required">*</span></label>
          <div class="col-lg-6">
            <div class="input-group">
              <span class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fas fa-check"></i>
                </span>
              </span>
            <select class="form-control mb-6"  v-model="shift.term">
              <option value="">Choose a term</option>
              <option value="18_19_HKI">18_19_HKI</option>
              <option value="18_19_HKII">18_19_HKII</option>
              <option value="19_20_HKI">19_20_HKI</option>
              <option value="19_20_HKII">19_20_HKII</option>
            </select>
          </div>
          </div>
        </div>
      </div>
      <footer class="card-footer">
        <div class="row justify-content-end">
          <div class="col-sm-9">
            <button class="btn btn-primary" id="submit" @click="addNewShift">Thêm mới</button>
            <button type="reset" class="btn btn-default" @click="resetInput">Reset</button>
          </div>
        </div>
      </footer>
    </section>
  </div>
</div>
